.add-encounter-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.add-encounter-form input {
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  font-family: "Roboto";
}

.add-encounter-form button {
  border-radius: 2em;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  font-family: "Roboto";
}

.add-encounter:hover {
    background-color: lightblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
}