.navbar a {
    text-decoration: none;
    color: blueviolet;
    font-family: "Tomorrow";
    font-size: 28px;
    font-style: italic;
    padding: 5px 5px 5px 5px;
}

.navbar a.active {
    color: red;
    font-weight: bold;
}