.tracker-header {
    text-align: center;
    font-style: italic;
    font-family: "Tomorrow";
    font-size: 32px;
    font-weight: bold;
    color:red;
}

.search-button {
    margin: 10px;
    border-radius: 2em;
    font-family: "Roboto";
}

.search-button:hover {
    background-color: lightblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
}

.tracker-desc {
    font-size: 24px;
    font-family: "Roboto";
    color: black;
    font-weight: bold;
}

.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: fit-content;
}